$black: #000;
$black30: #5F5E5F;
$black45: #8C8C8C;
$black65: #595959;
$black90: #2a2a2a;
$black95: #151515;
$white50: #FFFFFF50;
$whiteMenu: #818486;
$white10: #FFFFFF10;
$white: #fff;
$white90: #ffffff90;
$white80: #ffffff80;
$white25: #ffffff35;
$orange: #F26522;
$aqua: #035D5C
