@use "../variables";

.footer {
  background-color: variables.$black95;
  border-top: 1px solid rgba(255, 255, 255, 0.03);
  position: relative;
  .footer_scroll {
    position: absolute;
    top: 0px;
    right: 60px;

    a {
      width: 60px;
      height: 60px;
      background-color: variables.$black;
      transition: all 0.4s ease;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        color: variables.$white;

        width: 12px;
        height: 16.8px;
      }
      &:hover {
        background-color: variables.$orange;
      }
    }
  }

  .container {
    .row {
      padding: 44px 0;
      .footer_text {
        font-size: 14px;
        font-weight: 400;
        line-height: 27.17px;
        letter-spacing: 0%;
        color: variables.$black30;
        a {
          text-wrap: nowrap;
          color: variables.$white;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    .container {
      width: 89%;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    .footer_scroll {
      top: -1px;
      right: 50%;
      transform: translateX(50%);
    }

    .container {
      .row {
        padding-top: 74px;
        .footer_text {
          text-align: center;
        }
      }
    }
  }
}
