@use "../variables";
@use "../mixins";

.header {
  transition: all 0.5s ease;
  z-index: 9999;
  &.header_fixed {
    position: fixed;
    background-color: variables.$black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 120px;
    width: 100%;
    transition: all 0.5s ease;
  }
  .container {
    width: 90%;
    max-width: 1306px;
    position: relative;
    margin: 0 auto;

    .row {
      align-items: center;
      height: 72px;
      justify-content: flex-start;
      gap: 72px;
      position: absolute;
      z-index: 9;
      left: 0;
      top: 30px;
      .logo {
        width: 130px;
        height: 37px;
        a {
          img {
            width: 130px;
            height: 37px;
          }
        }
      }

      .ham_menu {
        display: none;
      }

      .nav {
        .nav_list {
          display: flex;
          gap: 26px;
          .nav_item {
            a {
              color: variables.$white80;
              text-transform: uppercase;
              font-size: 11px;
              font-weight: 500;
              letter-spacing: 3px;
              transition: all ease 0.3s;
            }

            a:hover {
              color: variables.$white;
              transition: all ease 0.3s;
            }

            &.nav_active {
              a {
                color: variables.$white;
                transition: all ease 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    &.header_fixed {
      top: -30px;
      height: 100px;
    }
    &.nav_header {
      background-color: variables.$black;
      height: 400px;
      transition: all 0.5s ease;
    }

    .container {
      .row {
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        flex-wrap: wrap;
        top: 30px;
        .ham_menu {
          display: flex;
          justify-content: space-between;
          gap: 16px;
          cursor: pointer;

          .ham_menu_title {
            color: variables.$whiteMenu;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 4px;
          }

          #ham_icon {
            width: 42px;
            height: 42px;
            position: relative;

            margin: 0 auto;
            transform: rotate(0deg);
            transition: 0.5s ease-in-out;
            cursor: pointer;
          }

          #ham_icon span {
            display: block;
            position: absolute;
            height: 2px;
            width: 60%;
            background: variables.$white;
            border-radius: 2px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: 0.25s ease-in-out;
          }

          #ham_icon span:nth-child(1) {
            top: 0px;
            transform-origin: left center;
          }

          #ham_icon span:nth-child(2) {
            top: 10px;
            transform-origin: left center;
          }

          #ham_icon span:nth-child(3) {
            top: 20px;
            transform-origin: left center;
          }

          #ham_icon.open span:nth-child(1) {
            transform: rotate(45deg);
            top: 0px;
            left: 0px;
          }

          #ham_icon.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
          }

          #ham_icon.open span:nth-child(3) {
            transform: rotate(-45deg);
            top: 18px;
            left: 0px;
          }
        }

        .logo {
          width: 50%;
        }

        .nav {
          display: none;
        }

        .nav {
          position: absolute;
          top: 100px;
          transition: all 0.3s ease;

          &.side_nav {
            transition: all 0.3s ease;

            display: flex;
            width: 100%;
            .nav_list {
              gap: 0;
              width: 100%;
              flex-direction: column;
              justify-content: space-around;

              .nav_item {
                padding: 0;
                padding: 17px 0;
                width: 100%;
                border-top: 1px dotted rgb(28, 28, 28);
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    .container {
      .row {
        .ham_menu {
          gap: 0;

          .ham_menu_title {
            display: none;
          }
        }
      }
    }
  }
}
