@use "../variables";
@use "../mixins";

.header {
  .container {
    width: 90%;
    max-width: 1306px;
    position: relative;
    margin: 0 auto;
    .row {
      align-items: center;
      height: 72px;
      justify-content: flex-start;
      gap: 72px;
      position: absolute;
      // max-width: 1140px;
      z-index: 9;
      left: 0;
      top: 30px;
      .logo {
        width: 130px;
        height: 37px;
        a {
          img {
            width: 130px;
            height: 37px;
          }
        }
      }

      .ham_menu {
        display: none;
      }

      .nav {
        .nav_list {
          display: flex;
          gap: 26px;
          .nav_item {
            a {
              color: variables.$white80;
              text-transform: uppercase;
              font-size: 11px;
              font-weight: 500;
              letter-spacing: 3px;
              transition: all ease 0.3s;
            }

            a:hover {
              color: variables.$white;
              transition: all ease 0.3s;
            }

            &.nav_active {
              a {
                color: variables.$white;
                transition: all ease 0.3s;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .header {
    .container_header {
      .row {
        // height: 100%;
        // width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 0;
        .logo {
          display: flex;
          align-items: center;
          width: 50%;
          height: 100%;
          a {
            img {
              width: 120px;
              height: 34px;
              object-fit: contain;
            }
          }
        }

        .ham_menu {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 50%;
          height: 100%;
        }

        .nav {
          display: block;
          padding-top: 30px;
          .nav_list {
            gap: 0;
            width: 89vw;
            flex-direction: column;
            justify-content: space-around;
            .nav_item {
              padding: 18px 0;
              border-top: 1px dotted grey;
            }
          }
          .nav_list:last-child {
            border-bottom: 1px dotted grey;
          }
        }
      }
    }
  }
}
